body {font-family: Arial;}


@keyframes drop_down {
	from {opacity:0; line-height: 0%;}
	to {opacity:1; line-height: 125%;}
}

@keyframes crawl_out {
	from {transform: scaleY(0); transform: scaleX(0)}
	to {transform: scaleY(1); transform: scaleX(1);}
}

@keyframes fade_inactive {
	from {opacity: 0; transform: translate3d(0, -20%, 0);}
	to {opacity: .7; transform: translate3d(0, 0, 0);}
}

@keyframes fade_active {
	from {opacity: 0; transform: translate3d(0, -20%, 0);}
	to {opacity: 1; transform: translate3d(0, -10%, 0);}
}


.main {
	padding: 0;
	margin: 0;
}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.tab button {
	display:table;
	width: 50%;
	table-layout: fixed;
	float: left;
	background-color:inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: .5s;
	font-size: 17px;
}

.tab button:hover {
	background-color: #ddd;
	transition: .5s;
}

.tab button.active {
	background-color: #ccc;
}

.tabcontent {
	position: relative;
	transition: opacity 1s ease-in-out;
	transition: height 1s ease;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	overflow-y: auto;
	min-height: 90vh;
	overflow
}

.clickybutton {
    
    border: none;
    outline: none;
	cursor: pointer;
	background-color: #eee;
	transition: .5s;
    padding: 14px 16px;
}

.clickybutton:hover {
    background-color: #ddd;
	transition: .5s;
}

.clickybutton.active {
    background-color: #ccc;
}

.clickybutton {
    border: none;
    outline: none;
	cursor: pointer;
	background-color: #eee;
	transition: .5s;
    padding: 14px 16px;
}

.includeBtn:hover {
	background-color: #a0ce9d;
}

.excludeBtn:hover {
	background-color: #e88d86;
}

.includeBtn.active {
	background-color: #69bf64;
}

.excludeBtn.active {
	background-color: #dc5349;
}

.genredropdown {
	display: inline-block;
	margin: 3px;
}

.dropdowncontent {
	z-index: 1;
	animation-name: drop_down;
	animation-duration: .5s;
	height: 200px;
	width: 400px;
	overflow: scroll;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    transition: .5s;
   
}


.genretable {
	table-layout: fixed;
	
}

#submitButton{
	display: inline-block;
	margin: 3px;
	
}



.genrerows button {
	animation-name: drop_down;
	animation-duration: .5s;
	width: 30%;
	padding: 20px 20px;
	margin: 3px;
}

.mainmenues {
	display: inline-block;
}

.resultDisplay {
	margin: 30px;
}

.titleImg{
	animation-name: fade_inactive;
	animation-duration: 2s;
	z-index: -1;
	opacity: .7;
	display:inline-block;
	margin: 30px;
	padding: 12px .5%;
	transition: 1s ease-out;
	height: 317px;
	width: 230px;
}

.titleImg.active{
	border-color: #FF8000;
	border-style: solid;
	transform: translate3d(0, -10%, 0);
	transition: 2s;
	opacity: 1;
}

.titleImg.selected{
	animation-name: fade_active;
	animation-duration: 2s;
}


.titleImg:hover {
	opacity: 1;
    transition: .3s ease-in-out;
	
}

.titleLink{
	border-style: solid;
	color: #FF8000;
	text-decoration:none
	border-radius: 5px;
	padding: 5px 5px;
}


.imgSpace{
	transition: 1s ease-in-out;
	display:inline-block;
	text-align:center;
	width: 99%;
	height: 330px;
}

.textSpace{
	margin-top: auto;
}

.titleDesc {
	display:none;
}

.titleDesc.active{
	text-align:center;
	display:block;
	overflow: auto;
}

.mediaList {
	display: inline-block;
}

.loadingimg {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;

}